<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>门禁权限信息添加</title>
</head>
<link rel="stylesheet" type="text/css" href="../static/css/index_work.css">
<body>
<style type="text/css">
    h2{text-align: center;}
    div{border: 1px solid red;width: 600px;height: 400px;style-size: 450px;}
</style>
    <h2>门禁权限信息添加</h2>
    <a href="/index"><input type="button" value="门禁管理首页"></a>
    <a href="/logs"><input type="button" value="日志查询首页"></a>
    <a href="/query"><input type="button" value="查询"></a>
    <form action="/addInvitation/" method="post">
        卡片 ID：<input type="text" name="number" style="width: 500px"><br>
        姓名：<input type="text" name="name" style="width: 500px"><br>
        <input type="submit" value="提交">
    </form>
</body>
</html>