<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<link rel="stylesheet" type="text/css" href="../static/css/index_work.css">
<body>
<style type="text/css">
    h2{text-align: center;}
    div{border: 1px solid red;width: 600px;height: 400px;style-size: 450px;}
</style>
    <h2>门禁管理系统</h2>
    <a href="/logs"><input type="button" value="日志查询首页"></a>
    <a href="/toAdd/"><input type="button" value="添加"></a>
    <a href="/query"><input type="button" value="查询"></a>
    <table>
        <thead>
            <th>卡片 ID</th>
            <th>姓名</th>
            <th>操作</th>
        </thead>
        <tbody>
            {% for item in invitation %}
                <tr>
                    <td>{{ item.number }}</td>
                    <td>{{ item.name }}</td>
                    <td>
                        <a href="/toUpdate/?number={{ item.number }}"><input type="button" value="修改"></a>
                        <a href="/delete/?number={{ item.number }}"><input type="button" value="删除"></a>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <th colspan="6">
                    {% if invitation.has_previous %}
                    <a href="?page={{ invitation.previous_page_number }}"><input type="button" value="上一页"></a>
                    {% endif %}
                    <span>{{ invitation.number }} of {{ invitation.paginator.num_pages }}</span>
                    {% if invitation.has_next %}
                        <a href="?page={{ invitation.next_page_number }}"><input type="button" value="下一页"></a>
                    {% endif %}
                </th>
            </tr>
        </tbody>
    </table>
</body>
</html>