<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改</title>
</head>
<link rel="stylesheet" type="text/css" href="../static/css/index_work.css">
<body>
    <form action="/updateInvitation/" method="post">
        {% for i in invitation %}
            卡片 ID：<input type="text" name="number" value="{{ i.number }}" style="width: 500px"><br>
            姓名：<input type="text" name="name" value="{{ i.name }} " style="width: 500px"><br>
            <input type="submit" value="确认修改">
        {% endfor %}
    </form>

</body>
</html>